.meetuprow{
    color: white;
    background-color: #2b542c;
    margin: 0.25em 0.5em;
}
.attend_btn{
    margin-top: 0.25em;
}
#add_meetup_form{
    padding-top: 0.75em;
}
.text-custom{
    color:#68B169;
}