Options +FollowSymLinks
RewriteBase /
RewriteEngine On

Redirect /mtb/fells /mtb/fells.php
Redirect /login /login.php
Redirect /signup /signup.php
Redirect /logout /logic/logout_action.php
Redirect /road /road.php
Redirect /meetup /meetup.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php